# Copiar este archivo como .env y completar los valores

# Timezone
TZ=America/Costa_Rica

# Red local
LAN_SUBNET=192.168.1.

# Base de datos PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=scryvex
DB_PORT=5432

# Puerto del servidor Scryvex (default: 1994)
PORT=1994
